body {
    background-color : navy;
    color: white;
    font-family: Arial, sans-serif;
    width: 60%;
    margin-left : auto;
    margin-right : auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

h1 {
    border-radius: 10px;
    width : 50%;
    border : 4px double rgb(255, 255, 255);
    padding : 10px 10px;
    font-size: 40px;
    margin-left : auto;
    margin-right : auto;
}

h1, h2 {
    text-align : center;
}

h2 {
    margin-top : 30px;
    font-weight: 300;
    color: paleturquoise;
}

table {
    width : 100%;
    border: 3px solid rgb(1, 1, 58);
}

td {
    text-align : justify;
    padding : 3px 3px;
    border: 2px solid rgb(1, 1, 58);
}

th {
    background-color :rgb(0, 0, 68);
    font-weight : bolder;
    padding: 4px;
}

tr {
    border: 2px solid rgb(1, 1, 58);
}

div {
    margin-left : auto;
    margin-right : auto;
}

img {
    display : block;
    margin-left: auto;
    margin-right : auto;
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-bottom: 30px;
}

.value-header {
    width : 100px;
    text-align : center;
}

.code {
    font-family: monospace;
    background-color : rgba(0,36,244, 0.4);
    color: mediumaquamarine;
    font-size: 16px;
    text-align: center;
    padding: auto 7px;
}